@font-face {
  font-family: Hellix;
  src: url('../fonts/Hellix-Thin.woff2') format("woff2"),url('../fonts/Hellix-Thin.woff') format("woff");
  font-weight: 100;
  font-style: normal
}

@font-face {
  font-family: Hellix;
  src: url('../fonts/Hellix-Light.woff2') format("woff2"),url('../fonts/Hellix-Light.woff') format("woff");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: Hellix;
  src: url('../fonts/Hellix-Regular.woff2') format("woff2"),url('../fonts/Hellix-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Hellix;
  src: url('../fonts/Hellix-Medium.woff2') format("woff2"),url('../fonts/Hellix-Medium.woff') format("woff");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: Hellix;
  src: url('../fonts/Hellix-SemiBold.woff2') format("woff2"),url('../fonts/Hellix-SemiBold.woff') format("woff");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: Hellix;
  src: url('../fonts/Hellix-Bold.woff2') format("woff2"),url('../fonts/Hellix-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Hellix;
  src: url('../fonts/Hellix-ExtraBold.woff2') format("woff2"),url('../fonts/Hellix-ExtraBold.woff') format("woff");
  font-weight: 800;
  font-style: normal
}

@font-face {
  font-family: Hellix;
  src: url('../fonts/Hellix-Black.woff2') format("woff2"),url('../fonts/Hellix-Black.woff') format("woff");
  font-weight: 900;
  font-style: normal
}