@import './vendor/normalize';
@import './fonts';
@import './variables';
@import './media';

html {
  font-size: 62.5%;
}

body {
  font: 400 1.6rem/1.5 'Hellix', '-apple-system', BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
  background-color: map-get($colors, white);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

strong {
  font-weight: 500;
}

p {
  font-size: 1.8rem;
  margin: 0 0 3rem 0;

  &:last-child {
    margin: 0;
  }
}

.app {

  &__section {

  }

  &__header {
    margin-bottom: 2rem;

    @include mobile() {
      margin-bottom: 4rem;
    }
  }

  &__copy {
    margin-bottom: 2rem;

    @include mobile() {
      margin-bottom: 4rem;
    }
  }

  &__clients {
    margin-bottom: 2rem;

    @include mobile() {
      margin-bottom: 4rem;
    }
  }

  &__contacts {

  }
}

.section {
  display: flex;
  justify-content: center;
  padding: 5rem 0;

  &_intro {
    height: 100vh;
    align-items: center;
  }

  &_about {

  }

  &__content {
    width: 100%;
    max-width: 86rem;
    padding: 0 1.5rem;
  }

  &__row {
    display: flex;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }

  &__cell {
    flex: 1 0 0;
    padding: 0 1.5rem;
  }

  &__heading {
    font-weight: 500;
    font-size: 3.2rem;
    margin: 0 0 2rem 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  
  @include mobile() {
    flex-direction: row;
    align-items: center;
  }

  &__photo {
    margin: 0 0 1rem 0;

    @include mobile() {
      margin: 0 2rem 0 0;
    }
  }

  &__info {

  }
}

.photo {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background: map-get($colors, gray);

  @include mobile() {
    width: 6.4rem;
    height: 6.4rem;
  }

  &__src {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;

  }
}

.info {
  &__name {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0;
  }

  &__position {
    font-weight: 400;
    font-size: 1.6rem;
  }
}

.copy {
  font-size: 2.7rem;
  font-weight: 500;

  @include mobile() {
    font-size: 3.8rem;
  }

  &__br {
    display: inline;

    @include tablet() {
      display: block;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    color: map-get($colors, blue);
    text-decoration: none;

    &:hover {
      &::before {
        left: 0;
        right: 0;
        background: rgba(map-get($colors, blue), 1);
      }
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 2%;
      right: 2%;
      bottom: .2rem;
      height: .2rem;
      border-radius: .2rem;
      background: rgba(map-get($colors, blue), .5);
      transition: .25s;
    }

    &::after {
      content: '.';
      position: absolute;
      color: map-get($colors, black);
      padding-right: 1rem;
    }
  }
}

.clients {
  display: none;

  @include tablet() {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__heading {
    font-weight: 500;
    font-size: 1.6rem;
    color: map-get($colors, black);
    margin-right: 2rem;
  }

  &__item {
    font-size: 1.6rem;
    margin-right: .5rem;
    color: rgba(map-get($colors, black), .6);

    &:not(:last-child)::after {
      content: ',';
    }
  }
}

.contacts {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 1.5rem;
  }

  &__link {
    
  }
}

.contact {
  display: block;
  opacity: .2;
  transition: .25s;

  &__source {
    display: block;
    width: 3.2rem;
    height: auto;
  }

  &:hover {
    opacity: .6;
  }
}

.skills {
  background: map-get($colors, gray);
  padding: 3rem 4rem;
}

.definition-list {
  margin: 0;

  &__title {
    font-weight: 500;
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  &__description {
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0 0 2rem 0;

    &:last-child {
      margin: 0;
    }
  }
}