.app__header {
  margin-bottom: 2rem; }
  @media screen and (min-width: 576px) {
    .app__header {
      margin-bottom: 4rem; } }

.app__copy {
  margin-bottom: 2rem; }
  @media screen and (min-width: 576px) {
    .app__copy {
      margin-bottom: 4rem; } }

.app__clients {
  margin-bottom: 2rem; }
  @media screen and (min-width: 576px) {
    .app__clients {
      margin-bottom: 4rem; } }

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 1.5rem; }
  .section__content {
    width: 100%;
    max-width: 86rem; }

.header {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 576px) {
    .header {
      flex-direction: row;
      align-items: center; } }
  .header__photo {
    margin: 0 0 1rem 0; }
    @media screen and (min-width: 576px) {
      .header__photo {
        margin: 0 2rem 0 0; } }

.photo {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background: #838997; }
  @media screen and (min-width: 576px) {
    .photo {
      width: 6.4rem;
      height: 6.4rem; } }
  .photo__src {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%; }

.info__name {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 0; }

.copy {
  font-size: 2.7rem;
  font-weight: 300; }
  @media screen and (min-width: 576px) {
    .copy {
      font-size: 3.8rem; } }
  .copy__br {
    display: inline; }
    @media screen and (min-width: 768px) {
      .copy__br {
        display: block; } }
  .copy__link {
    position: relative;
    display: inline-block;
    color: #3274ff;
    text-decoration: none; }
    .copy__link:hover::before {
      left: 0;
      right: 0;
      background: #3274ff; }
    .copy__link::before {
      content: '';
      display: block;
      position: absolute;
      left: 2%;
      right: 2%;
      bottom: .2rem;
      height: .2rem;
      border-radius: .2rem;
      background: rgba(50, 116, 255, 0.5);
      transition: .25s; }
    .copy__link::after {
      content: '.';
      position: absolute;
      color: #000000;
      padding-right: 1rem; }

.clients {
  display: none; }
  @media screen and (min-width: 768px) {
    .clients {
      display: flex;
      align-items: center; } }
  .clients__list {
    display: flex;
    align-items: center; }
  .clients__heading {
    font-weight: 500;
    font-size: 1.6rem;
    color: #000000;
    margin-right: 2rem; }
  .clients__item {
    font-size: 1.6rem;
    margin-right: .5rem;
    color: rgba(0, 0, 0, 0.6); }
    .clients__item:not(:last-child)::after {
      content: ','; }

.contacts__list {
  display: flex;
  align-items: center; }

.contacts__item {
  margin-right: 1.5rem; }

.contact {
  display: block;
  opacity: .2;
  transition: .25s; }
  .contact__source {
    display: block;
    width: 3.2rem;
    height: auto; }
  .contact:hover {
    opacity: .6; }
